<%= turbo_frame_tag :new_state do %>
  <%= form_with(model: state, url: "/states")  do |form| %>
    <% if city.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

        <ul>
          <% state.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  
    <div class="mt-4">
      <%= form.text_field :name, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6', placeholder: 'Name' %>
    </div>

    <div class="flex justify-end">
      <div class="mt-4 inline-block rounded bg-indigo-500 py-1 px-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
        <%= form.submit %>
      </div>
    </div>
  <% end %>
<% end %>