<%= turbo_stream.update :main_top_bar do %>
  <%= render 'layouts/application/top_bar', formats: [:html], title: "City: #{@city.name}" %>
<% end %>

<%= turbo_stream.update :main_content do %>
  <%= render @city %>

  <div>
    <%= link_to "Edit this city", edit_city_path(@city) %> |
    <%= link_to "Back to cities", cities_path %>

    <%= button_to "Destroy this city", @city, method: :delete %>
  </div>

<% end %>

<%= turbo_stream.update :main_bottom_bar do %>
<% end %>


