<!DOCTYPE html>
<html>
  <head>
    <title>DemoTurboFrames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <script>
      addEventListener("resize", (event) => {
        document.getElementById('mainContainer').style.height = `${window.innerHeight}px`
      });
      addEventListener("turbo:load", (event) => {
        document.getElementById('mainContainer').style.height = `${window.innerHeight}px`
      });
    </script>
    <main id="mainContainer" class="relative flex flex-col w-full h-screen container mx-auto max-w-sm bg-white">
      <%= turbo_frame_tag :main_content, data: { turbo_action: :advance } do %>
        <div id='main_top_bar' class="flex-shrink-0 absolute top-0 w-full max-h-16">
          <%= yield :main_top_bar %>
        </div>
        <div class="py-16 flex-grow px-5 overflow-y-auto">
          <div class="pt-4 h-full overflow-y-auto">
              <%= yield %>
          </div>
        </div>


        <div id='main_bottom_bar' class="flex-shrink-0 absolute bottom-0 w-full max-h-16">
          <%= yield :main_bottom_bar %>
        </div>  
      <% end # turbo_frame_tag :main_content %>
    </main>
  </body>
</html>
